#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

main {
  padding: 2rem;
}

.logo {
  height: 2.5em;
  padding: 0.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.nav-link {
  display: inline-block;
  min-width: 40px;
  text-align: center;
  padding: 4px;
  font-size: 1.2em;
}

.nav-link:hover {
  color: #007bff;
  text-decoration: underline;
}

.nav-link a {
  display: block;
  text-decoration: none;
  color: inherit;
}
